<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tracker.Properties.Settings>
            <setting name="RefreshInterval" serializeAs="String">
                <value>1800000</value>
            </setting>
            <setting name="AutoRaceParams" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCourseParams" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoTeamsDef" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLatestPositions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoAllPositions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAllPositions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTeamTrace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CenterSelectedTeam" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRumLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPOIS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowContour" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RootLocation" serializeAs="String">
                <value>http://gae.yb.tl/Flash/chicagomack2013/</value>
            </setting>
            <setting name="MyTeam" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="UseDons" serializeAs="String">
                <value>True</value>
            </setting>
        </Tracker.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
